Sign Up

<%= form_for @gamer do |f| %>
  <div>
    <%= f.text_field :username, placeholder: "Username" %>
  </div>
  <div>
    <%= f.text_field :first_name, placeholder: "First Name" %>
  </div>
  <div>
    <%= f.text_field :last_name, placeholder: "Last Name" %>
  </div>
  <div>
    <%= f.email_field :email, placeholder: "Email" %>
  </div>
  <div>
    <%= f.text_field :birthday, placeholder: "Birthday" %>
  </div>
  <div>
    <%= f.password_field :password_digest, placeholder: "Password" %>
  </div>
  <div>
    <%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %>
  </div>
  <%= f.submit "Sign Up" %>
<% end %>
