<!DOCTYPE html>
<html>
  <head>
    <title>EP2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', media: 'all' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css', media: 'all' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag "#" %>

    <link rel="apple-touch-icon" sizes="144x144" href="#">
    <link rel="apple-touch-icon" sizes="114x114" href="#">

  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand">TOP GAMES</a>
              <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
          </div>
          <div class="collapse navbar-collapse" id="navcol-1">
              <ul class="nav navbar-nav">
                  <li role="presentation">
                      <a href="#"> </a>
                  </li>
                  <li role="presentation">
                      <a href="#"> </a>
                  </li>
                  <li role="presentation">
                      <a href="#"> </a>
                  </li>
                  <li role="presentation"><a href="#">CoD</a></li>
                  <li role="presentation"><a href="#">CS:GO</a></li>
                  <li role="presentation"><a href="#">DotA </a></li>
                  <li role="presentation"><a href="#">DRL </a></li>
                  <li role="presentation"><a href="#">Hearthstone </a></li>
                  <li role="presentation"><a href="#">LoL </a></li>
                  <li role="presentation"><a href="#">Pokémon </a></li>
                  <li role="presentation"><a href="#">SF:V</a></li>
                  <li role="presentation"><a href="#">SC2 </a></li>
                  <li role="presentation"><a href="#">SSB Melee</a></li>
                  <li role="presentation"><a href="#">Smash 4</a></li>
              </ul>
              <a class="navbar-link" href="#"> </a>
          </div>
      </div>
  </nav>
  <div>
      <nav class="navbar navbar-inverse navbar-static-top navigation-clean-button">
          <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand navbar-link" href="/">Enter Player 2</a>
                  <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
              </div>
              <div class="collapse navbar-collapse" id="navcol-1">
                  <ul class="nav navbar-nav"></ul>
                  <p class="navbar-text navbar-right actions" style="margin-bottom:7px;float:right;display:block;">
                    <% if current_gamer %>
                      <strong>
                        <%= link_to('Signed in as ' + current_gamer.username + '!', '/profile', :method => :get, class: 'navbar-link login') %>
                        <%= link_to("Log Out", '/logout', :method => :get, class: 'btn btn-default action-button') %>
                      </strong>
                    <% else %>
                      <strong>
                        <%= link_to("Log In", '/login', class: 'navbar-link login') %>
                        <%= link_to("Sign Up", '/gamers/new', class: 'btn btn-default action-button') %>
                      </strong>
                    <% end %>
                  </p>
              </div>
          </div>
      </nav>
  </div>

  <%= yield %>

  </body>
</html>
